{% extends "base.html" %}

{% block content %}
<h2>Local Event Details</h2>
<h3>Event: {{ event.title }}</h3>
<p>
Created on: {{ event.created_on }}<br>
Updated on: {{ event.updated_on }}<br>
</p>
<p>
    <strong>Category:</strong> {{ event.category }}<br>
    <strong>Location:</strong> {{ event.location }}<br>
    <strong>Start Time: </strong> {{ event.start_time }}<br>
    <strong>End Time: </strong> {{ event.end_time }}<br>
</p>
<p><strong>Description:</strong> <br>{{ event.description }}</p>
<a href="{% url 'localevents:event_list' %}">Back to all events</a>
{% endblock content %}