# Python
*.pyc
*.pyo
__pycache__/
*.py[cod]

# Django
db.sqlite3
*.log
media/

# Virtual Environment
venv/
env/
.venv/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env

# OS
.DS_Store

# VS Code
.vscode/
