{% extends 'base.html' %}
{% load static %} {% block title %}{{ book.title }}{%endblock %}

{% block content %}
<h2>Book Title: {{ book.title }}</h2>
<ul>
  <li><strong>Genre:</strong> {{ book.genre }}</li>
  <li><strong>Author:</strong> {{ book.author }}</li>
  <li><strong>Publication Year:</strong> {{ book.publication_year }}</li>
  <li><strong>Created On:</strong> {{ book.created_on }}</li>
  <li><strong>Updated on:</strong> {{ book.updated_on }}</li>
</ul>
<a href="{% url 'bookclub:book-list' %}">Back to all books</a>
{% endblock %}
