{% extends 'base.html' %}
{% load static %}
{% block title %}{{ commission.title }}{% endblock %}

{% block content %}
<h2>Commission Details</h2>
<h3>{{ commission.title }}</h3>

<p><ul>
  <li><strong>Commission Type:</strong> {{ commission.commission_type }}<br></li>
  <li><strong>People Required:</strong> {{ commission.people_required }}<br></li>
  <li><strong>Created on:</strong> {{ commission.created_on }}<br></li>
  <li><strong>Updated on:</strong> {{ commission.updated_on }}<br></li>
</p></ul>

<p><strong>Description:</strong><br>{{ commission.description }}</p>
<a href="{% url 'commissions:request-list' %}">Back to all requests</a>
{% endblock %}
