{% extends 'base.html' %}
{% load static %}
{% block title %}{{ project.title}}{% endblock %}

{% block content %}
  <h2>DIY Project: {{ project.title }}</h2>
  <ul>
    <li><strong>Category:</strong> {{ project.category }}</li>
    <li><strong>Materials:</strong> {{ project.materials }}</li>
    <li><strong>Steps:</strong> {{ project.steps }}</li>
    <li><strong>Created On:</strong> {{ project.created_on }}</li>
    <li><strong>Updated on:</strong> {{ project.updated_on }}</li>
  </ul>
  <p><strong>Description:</strong> {{ project.description }}</p>
  <a href="{%url 'diyprojects:project-list'%}">Back to all projects</a>
{% endblock %}
